@model WalletInspector2.Core.Code.Data.Day
@{
    System.Globalization.DateTimeFormatInfo mfi = new System.Globalization.DateTimeFormatInfo();
    var monthName = mfi.GetMonthName(Model.Date.Month);
    var dateString = Model.Date.ToString("yyyyMMdd");
    var currentPlaceForNewEntry = "placeForNewEntries" + dateString;
    var inputName = "InputName";
    var inputValue = "InputValue";
    var inputTag = "InputTag";
}

<div class="dayView">
    <table class="dayViewTable">
        <tr>
            <td>
                <div style="margin: 2px;font-size:8px;width:50px">
                    <p>@Model.Date.DayOfWeek</p>
                    <p>@string.Format("{0} {1}", Model.Date.Day, monthName)</p>
                    <p>@Model.Date.Year</p>
                </div>
            </td>
            <td>
                <div id=@currentPlaceForNewEntry>
                    @foreach (var expense in Model.Expenses)
                    {
                        @Html.Partial("~/Views/Expense/ExpenseView.cshtml", expense)
                    }
                </div>
                <div>
                    @using (Ajax.BeginForm("Add", "Day", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = currentPlaceForNewEntry, OnSuccess = "onSuccessAddExpense" }))
                    {
                        <table>
                            <tr>
                                <td>@Html.TextBox(inputName, null, new { @class = "InputNameClass" })</td>
                                <td>@Html.TextBox(inputValue, null, new { @class = "InputValueClass" })</td>
                                <td>@Html.TextBox(inputTag, null, new { @class = "InputTagClass" })</td>
                                @Html.Hidden("Date", Model.Date)
                                <td><button type="submit" value="Add" class="addButton" style="width:1em;height:1em;margin-left:0.25em" /></td>
                            </tr>
                        </table>
                    }
                </div>
            </td>
        </tr>
    </table>
</div>