@model WalletInspector2.Core.Code.Data.YearStatisticData
@{
    ViewBag.Title = Model.Name;
    var jsonDataMonthesPerYearData = Json.Encode(Model.Months);
    var jsonFullYearData = Json.Encode(Model.Data);
}

@Scripts.Render("~/bundles/highcharts")
@Scripts.Render("~/bundles/stat")

<script type="text/javascript">
    $(document).ready(function () {
        var monthesPerYearData = JSON.parse('@Html.Raw(jsonDataMonthesPerYearData)')
        var fullYearData = JSON.parse('@Html.Raw(jsonFullYearData)')
        ShowMonthsChart(monthesPerYearData);
        ShowFullYearChart(fullYearData);
    })
</script>

<div id="YearStat">
    <div id="MonthsStat">
        <div>
            Year - @Model.Name - @Model.TotalValue
        </div>
        <table>
            @foreach (var month in Model.Months)
            {
                <tr>
                    <td>@month.Number</td>
                    <td>@month.Name</td>
                    <td>@month.TotalValue</td>
                </tr>
            }
        </table>
    </div>
    <div id="FullYearStat"></div>
    <div id="YearPerMonthStat"></div>
</div>

